DOMAIN=https://vault.example.com
ADMIN_TOKEN=change_this_to_a_long_random_string
SIGNUPS_ALLOWED=false
INVITE_ONLY=true

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_FROM=your-email@gmail.com
SMTP_FROM_NAME=Vaultwarden Security
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_AUTH_MECHANISM=Plain

VAULTWARDEN_PORT=8003
